@{
    ViewData["Title"] = "Login";
}

<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <form onsubmit="login(event)">
            <center>
                <img class="" src="~/img/logo.png" alt="">
            </center>
            <h1>Welcome Manager,</h1>
            <div class="form-outline mb-4">
                <input required type="text" id="username" name="username" class="form-control form-control-sm" />
                <label class="form-label" for="username">Username</label>
            </div>

            <div class="form-outline mb-4">
                <input required type="password" id="password" name="password" class="form-control form-control-sm" />
                <label class="form-label" for="password">Password</label>
            </div>

            <div class="row mb-4">
                <div class="col d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remember-me" checked />
                        <label class="form-check-label" for="remember-me"> Remember me </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="w-100 btn btn-success btn-block mb-4">Sign in</button>

            <div>
                <p>Dont have a Cafe yet? <a asp-area="" asp-controller="Auth" asp-action="Register">Build one!</a></p>
            </div>
        </form>
    </div>
</div>

<script>
    function login(e) {
        e.preventDefault();

        const formData = {
            Username: $('input[name="username"]').val(),
            Password: $('input[name="password"]').val()
        };

        $.ajax({
            url: `/Auth/LoginUser`,
            type: "POST",
            data: formData,
            success: function (result) {
                if(result.message == 'InvalidInput') {
                    alert('Password not correct');
                    return;
                } else if(result.message == 'DataNotFound') {
                    alert('Username not found');
                    return;
                }
                location.href = '/';
            },
            error: function (error) {
                alert('Error');
            }
        });
    }
</script>